<div class="content">
    <div class="left_sidebar">
            <div class="main-content">
                <article>
                    {% placeholder content %}
                </article>
            </div>
            
            <div class="sidebar-top">
                {% placeholder sidebar_top %}
            </div>

            <div class="sidebar-bottom">
                {% placeholder sidebar_bottom %}
            </div>

            <div class="aside-content">
                {% placeholder aside_content %}
            </div>
    </div>
</div>