<div class="main-nav">
  <nav id="main-nav" class="main-nav">
    <div class="main-menu">
      <ul>
        <li class="main-menu__item active">
          <a href="/">
            <i class="main-menu__icon icon-news"></i>Новости
          </a>
        </li>
        <li class="main-menu__item">
          <a href="/universes">
            <i class="main-menu__icon icon-universe"></i>Вселенные
          </a>
        </li>
        {# <li class="main-menu__item-dropdown">
          <ul class="dropdown">
            <li class="main-menu__item">
              <i class="main-menu__icon fa"></i>
              Assassins Creed
              <i class="main-menu__icon-dropdown fa fa-chevron-down"></i>
            </li>
          </ul>
          <ul class="inner">
            <li class="main-menu__item">
              <a href="universe.html">Главная</a>
            </li>
            <li class="main-menu__item">
              Книги
            </li>
            <li class="main-menu__item">
              Игры
            </li>
            <li class="main-menu__item">
              Фильмы
            </li>
            <li class="main-menu__item">
              Энциклопедия
            </li>
          </ul>
        </li> #}
        <li class="main-menu__item-dropdown">
          <ul class="dropdown">
            <li class="main-menu__item">
              <i class="main-menu__icon icon-persons"></i>
              Персоналии
              <i class="main-menu__icon-dropdown icon-dropdown"></i>
            </li>
          </ul>
          <ul class="inner">
            <li class="main-menu__item">
              <a href="/persons">
                <i class="main-menu__icon icon-person"></i>Люди
              </a>
            </li>
            <li class="main-menu__item">
              <a href="/organisations/">
                <i class="main-menu__icon icon-company"></i>
                Компании
              </a>
            </li>
          </ul>
        </li>
        <li class="main-menu__item">
          <a href="#">
            <i class="main-menu__icon icon-info"></i>О проекте
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#">
            <i class="main-menu__icon icon-in_progress"></i>В разработке
          </a>
        </li>
      </ul>
    </div>
    <i class="fa fa-close close_btn"></i>
  </nav>
  <i class="fa fa-close close_btn"></i>
</div>