<div class="mob_nav">
    <div class="header_section">
        <div class="logo">
            <img src="{{ 'assets/images/logo-min.svg'|theme }}"/>
        </div>
        <div class="burger">
            <i class="icon-burger"></i>
        </div>
    </div>
    <div class="header_section">
        <div class="social_buttons">
            <a class="icon icon-vk" href="{{ this.theme.vk }}"></a>
            <a class="icon icon-facebook" href="{{ this.theme.facebook }}"></a>
            <a class="icon icon-twitter" href="{{ this.theme.twitter }}"></a>
            <i class="icon icon-instagram"></i>
        </div>
    </div>
    <div class="header_section">
        <div class="login">
            <i class="icon-person"></i>
        </div>
    </div>
</div>