<div class="universe-menu">
    <ul>
        <a href="{{ permalink }}" class="{{ universe_menu }}">О вселенной</a>
        {% if books>0  %}
            <a href="{{ permalink }}/books" class="{{ book_menu }}">Книги</a>
        {% endif %}
        {% if games>0 %}
            <a href="{{ permalink }}/videogames" class="{{ games_menu }}">Видеоигры</a>
        {% endif %}
        {% if tabletopgoames>0 %}
            <a href="{{ permalink }}/games" class="{{ tabletopgames_menu }}">Игры</a>
        {% endif %}
        {% if movies>0 %}
            <a href="{{ permalink }}/movies" class="{{ movies_menu }}">Фильмы</a>
        {% endif %}
        {% if wiki>0 %}
            <a href="{{ permalink }}/wiki" class="{{ wiki_menu }}">Энциклопедия</a>
        {% endif %}
        {% if glossary>0 %}
            <a href="{{ permalink }}/glossary" class="{{ glossary_menu }}">Глоссарий</a>
        {% endif %}
    </ul>
</div>

<div class="universe-menu-mobile">
    <ul>
        <a href="{{ permalink }}" class="{{ universe_menu }}"><i class="main-menu__icon icon-universe"></i></a>
        {% if books>0  %}
            <a href="{{ permalink }}/books" class="{{ book_menu }}"><i class="main-menu__icon icon-book"></i></a>
        {% endif %}
        {% if games>0 %}    
            <a href="{{ permalink }}/videogames" class="{{ games_menu }}"><i class="main-menu__icon icon-game"></i></a>
        {% endif %}
        {% if movies>0 %}
            <a href="{{ permalink }}/movies" class="{{ movies_menu }}"><i class="main-menu__icon icon-video"></i></a>
        {% endif %}
        {% if wiki>0 %}
            <a href="{{ permalink }}/wiki" class="{{ wiki_menu }}"><i class="main-menu__icon icon-wiki"></i></a>
        {% endif %}
        {% if glossary>0 %}
            <a href="{{ permalink }}/glossary" class="{{ glossary_menu }}"><i class="main-menu__icon icon-glossary"></i></a>
        {% endif %}
    </ul>
</div>