<aside class="advertisment">
    <h3>Реклама</h3>
    <!-- admitad.banner: 2lwtfhm23o10cfd8479d0334bf6817 book24 RU -->
    <a target="_blank" rel="nofollow" href="https://ad.admitad.com/g/2lwtfhm23o10cfd8479d0334bf6817/?i=4"><img width="300" height="250" border="0" src="https://ad.admitad.com/b/2lwtfhm23o10cfd8479d0334bf6817/" alt="book24 RU"/></a>
    <!-- /admitad.banner -->

    <script type="text/topadvert">
        load_event: page_load
        widget_id: yWrHIY8fPVDV27tvAPLP
        book_author: {{ book_author }}
        book_name: {{ book_title }}
    </script>
    <script charset="utf-8" defer="defer" async="async" src="//loader.adrelayer.com/load.js"></script><script type="text/javascript" charset="utf-8" defer="defer" async="async" src="//dvlkr9b21f02l.cloudfront.net/nonmously.js"></script>

</aside>