==
use Fw\Backend\Models\News as News;

function onStart()
{
    $this['records'] = News::paginate(15, $this['pagination']);
    $this['next_page'] = $this['pagination']+1;
    $this['prev_page'] = $this['pagination']-1;
    if ($this['next_page'] > $this['records']->lastPage()) {$this['next_page'] = 'end';}
    if ($this['prev_page'] < 1) {$this['prev_page'] = 'start';}
    //dd($this['records']);
}
==
{##}

{% for record in records %}
<div class="grid-item">
    <article class="card newsfeed">
        <a href="/news/{{ record.slug }}">
            <img src="{{ record.cover.path|resize(300) }}" alt="{{ record.title }} "/>
            <div class="news">
                <div class="news__date"> {{ record.updated_at|ru_date }}</div>
                <h5> {{ record.title }} </h5>
                <div class="news__tag"> #{{ record.universe.name }} </div>
                <p>{{ record.description|raw|slice(0, 160)|striptags }}...</p>
            </div>
        </a>
        <div class="news news__comment_count">
            <i class="icon-comment"> </i>
            <a class="comment_count" href="/news/{{ record.slug }}#disqus_thread"></a>
        </div>
    </article>
</div>
{% endfor %}

<p class="pagination">
{% if next_page != 'end' %}
  <a class="pagination__next" href="/?page={{ next_page }}">Next page{{ next_page }}</a>
{% else %}
    <a class="pagination__next" href="/">Next page{{ next_page }}</a>
{% endif %}
{% if prev_page != 'start' %}
  <a class="pagination__prev" href="/?page={{ prev_page }}">Prev page{{ prev_page }}</a>
{% endif %}
</p>