header
    +default
        position: fixed
        top: 0
        left: -320px
        z-index: 1060
        width: 260px
        height: 100vh
        display: block
        overflow: auto
        -webkit-overflow-scrolling: touch
        -ms-overflow-style: none
        background: white
    +laptop
        width: 320px
    +desktop
        left: 0 !important
        box-shadow: 0px 0px 40px rgba(147, 164, 171, 0.1)

    .social_buttons
        +default
            display: none
        +desktop
            margin: 0 60px
            text-align: center
            color: $color-main-light
            position: fixed
            bottom: 40px
            display: flex
            flex-direction: row
            justify-content: space-between
            width: 200px
            font-size: 20px

header::-webkit-scrollbar
  +default
    display: none
