.left_sidebar
    +default
        display: grid
        grid-template-columns: auto
        grid-template-rows: minmax (0, 60px)
        grid-auto-rows: auto

    +tablet
        grid-template-columns: 300px 40px calc(100% - 340px)
        grid-auto-rows: minmax(0px, auto)
    .header-content
        +default
            grid-column: 1
            grid-row: 1
        +tablet
            grid-column: 3
            grid-row: 1
    .sidebar-top
        +default
            grid-column: 1
            grid-row: 2
            margin-bottom: 20px
        +tablet 
            grid-column: 1
            grid-row: 1 / 3
    .main-content
        +default
            grid-column: 1
            grid-row: 3
        +tablet
            grid-column: 3
            grid-row: 2 / 10
    .sidebar-bottom
        +default
            grid-column: 1
            grid-row: 4
        +tablet 
            grid-column: 1
            grid-row: 3 / 12
    .aside-content
        +default 
            grid-column: 1
            grid-row: 5
        +tablet
            grid-column: 3
            grid-row: 11