.universe-menu
    +default
        display: none
    +desktop
        position: fixed
        z-index: 2
        top: 0
        height: 120px
        width: calc(100% - 320px)
        padding-right: 40px
        display: flex
        flex-direction: row
        background: rgb(80,96,112)
        background: linear-gradient(180deg, rgba(80,96,112,1) 0%, rgba(80,96,112,0) 100%)
    ul 
        display: inline-flex
        margin-left: 80px
    a
        color: white
        font-size: 16px
        margin-right: 40px
        padding-top: 40px

    .active
        border-top: 4px solid $color-second
        padding-top: 36px
        font-weight: 400

.sticky
    +desktop
        background: rgb(255,255,255)
        background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%)
        height: 140px
    a
        color: $color-main

.universe-menu-mobile
    +desktop
        display: none
    +default
        position: fixed
        bottom: 0
        height: 40px
        width: 100%
        background: $color-main
        z-index: 2
        padding: 0 15px

    ul 
        +default
            display: flex
            justify-content: space-between
        +tablet
            justify-content: flex-start
    a 
        color: white
        height: 40px
        width: 40px
        display: flex
        align-items: center

    .active
       background: $color-second

    .main-menu__icon
        margin: 0 auto
