==
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
        "@type": "Person",
        "name" : "{{ record.title }}",
        "jobTitle" : "{% if person.personroles is not empty %}{% for personrole in person.personroles %}{{ personrole.title }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}",
        "birthDate" : "{{ person.birthdate }}",
        "birthPlace" : "",
        "deathDate" : {% if person.deathdata is not empty %}{{ person.deathdata }}{% else %}""{% endif %},
        "image": "{{ og_meta.image }}",
        "description" : "{{ person.bio|slice(0, 160)|striptags }}",
        "url": "{{ og_meta.url }}"
    }
</script>