.person
    &__photo
        img
            width: 100%
    &__title
        +default
        +laptop

        .subtitle
            +default
                margin-top: 10px
            +laptop
                margin-top: 20px