;;

description = "Базовый шаблон"

[session]
security = "all"
==

function onStart()
{
    // dump(view());
}

==
{##}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }} | Энциклопедия фантастических вселенных</title>
    <meta name="description" content="{{ page_description|slice(0, 160)|striptags }}">
    <base href="{{ '/' }}">
    {% partial "meta/verification" %}
    {% partial "meta/og_meta" %}
    {% partial "meta/favicon" %}
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
    <link rel="preconnect" href="https://mc.yandex.ru" crossorigin>
    <link rel="preconnect" href="http://counter.yadro.ru" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i&amp;subset=cyrillic-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
</head>

<body>
    {% partial 'layout/mob-nav' %}
    <header>
        {% partial 'layout/site-logo' %}
        {% partial 'layout/main-menu' %}
        {% partial 'layout/social-button' %}
    </header>
    
    <main class="{{ content }}">
        {% page %}
        {% if template == "left-sidebar" %}
        {% partial 'layout/left-sidebar' %}
        {% endif %}

        {% if template == "right-sidebar" %}
        {% partial 'layout/right-sidebar' %}
        {% endif %}

    <div class="content">
        {% placeholder one_column %}
    </div>

    </main>
    <footer>
        {% partial 'layout/footer' %}
    </footer>


    <div class="overlay"></div>

    {% if shema_type is defined %}
        {% partial shema_type %}
    {% endif %}

    <script src="{{ 'assets/js/main.js'|theme }}"></script>
    {% partial "meta/googletag" %}
    {% scripts %}
    
</body>

</html>