;;

description = "Базовый шаблон"

[session]
security = "all"
==
{##}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
</head>
<body>
    <header>
        <div class="header_section">
            <div class="logo">
                <img src="{{ 'assets/images/logo-min.svg'|theme }}"/>
            </div>
            <div class="burger">
                <i class="icon-burger"></i>
            </div>
        </div>
        <div class="header_section">
            <div class="social_buttons">
                <i class="icon icon-vk"></i>
                <i class="icon icon-facebook"></i>
                <i class="icon icon-twitter"></i>
                <i class="icon icon-instagram"></i>
            </div>
        </div>
        <div class="header_section">
            <div class="login">
                <i class="icon-person"></i>
            </div>
        </div>
    </header>

    <script src="{{ 'assets/js/main.js'|theme }}"></script>
</body>
</html>