;;

description = "Базовый шаблон"

[session]
security = "all"
==
{##}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
</head>
<body>
    {% partial 'layout/mob-nav' %}
    <header>
        {% partial 'layout/site-logo' %}
        {% partial 'layout/main-menu' %}
    </header>

    <div class="overlay"></div>
    
    <script src="{{ 'assets/js/main.js'|theme }}"></script>
</body>
</html>