;;

title = "books"
url = "/:universe/books"
layout = "default"
is_hidden = 0

==

use Fw\Backend\Models\Book as Book;

function onStart()
{
    // Template
    $this['template'] = "right-sidebar";

    // DB Query
    $this['universe'] = \Fw\Backend\Models\Content::where('permalink', '/' . $this->param('universe'))
        ->first()
        ->contentable;

    $this['books'] = $this['universe']->book;
    $this['games'] = $this['universe']->videogame;

    $this['records']  = \Fw\Backend\Models\Content::where('permalink', 'LIKE', '%' . $_SERVER['REQUEST_URI'] . '%')
        ->join('fw_backend_category as category', 'category_id', 'category.id')
        ->join('fw_backend_works as book', 'contentable_id', 'book.id')
        ->select('*', 'category.title as cat_title', 'book.number_in_series as nis')
        ->with('contentable')
        ->orderByRaw("if(cat_title = 'books', 1,0), `cat_title`,`nis` ASC")
        ->get()
        ->where('contentable.in_anthology', false);

    // SEO title
    $this['page_title'] = "Книги | ".$this['universe']->title;
    $this['page_description'] = "Книги по вселенной ".$this['universe']->title;

    // Universe menu marker
    $this['book_menu'] = "active";
    $this['permalink'] = '/'.$this->param('universe');

    // og_meta properties
    $this['og_meta'] = [
        "title" => $this['page_title'],
        "description" => $this['page_description'],
        "image" => Url::to('themes/fun-wiki/assets/images/alpha.jpg'),
        "url" => Request::url(),
    ];
}

==
{##}
{% partial 'layout/universe-menu' %}
{% partial 'layout/page-title' %}

{% put content %}

    {% set last_char = '' %}
    {% for record in records %}

        {% if record.cat_title == 'books' %}
            {% set series = 'Вне серии' %}
        {% else %}
            {% set series = record.cat_title %}
        {% endif %}

        {% set this_char = series %}
        {% if this_char != last_char %}
            {% if last_char != '' %}
                </div>
            {% endif %}
            {% set last_char = this_char%}
            <h2> {{ this_char }} </h2>
            <div id="grid" data-columns="5" class="card_list">
        {% endif %}
                <div class="card-item">
                    <div class="card">
                        <a href="{{record.permalink }}">
                            <div class="card__image">
                                <img src="{{ record.contentable.cover.path|resize(530) }}" alt="{{ record.title }}" />
                            </div>
                            <div class="card__content">
                                <h4>{{ record.title }}</h4>
                                <div class="h4-subtitle"> {{ record.title_ru }} </div>
                                {% for author in record.contentable.author %}
                                    <a href="{{ author.content.permalink }}"> {{ author.title }} </a>
                                {% endfor %}
                            </div>
                        </a>
                    </div>
                </div>
    {% endfor %}
    </div>

{% endput %}

{% put sidebar_top %}
{% endput %}


{% put sidebar_bottom %}
    {% partial 'widgets/advertisment' %}
{% endput %}