;;

title = "book"
url = "/:universe/books/:slug"
layout = "default"
is_hidden = 0

==

use \fw\Backend\Models\Content as Content;

function onStart()
{
    // Template
    $this['template'] = "left-sidebar";

    // DB Query
    $this['universe'] = \Fw\Backend\Models\Content::where('permalink', '/' . $this->param('universe'))
        ->first()
        ->contentable;
        
    $this['books'] = $this['universe']->book;
    $this['games'] = $this['universe']->videogame;

    $this['record'] = Content::where('permalink', $_SERVER['REQUEST_URI'])->first();
    $this['book'] = $this['record']->contentable;

    // SEO title
    $this['page_title'] = $this['record']->title." | Книги | ".$this['universe']->title;
    $this['page_description'] = $this['record']->title; // Add description

    // Universe menu marker
    $this['book_menu'] = "active";
    $this['permalink'] = '/'.$this->param('universe');

    // og_meta properties
    $this['og_meta'] = [
        "title" => $this['page_title'],
        "description" => $this['page_description'],
        "image" => $this['book']->book_edition[0]->cover->path,
        "url" => Request::url()
    ];
}

==
{##}
{% partial 'layout/universe-menu' %}
{% partial 'layout/page-title' %}

{% put header_content %}
    <div class="person__title">
        <h1> {{ record.title }} </h1>
        <div class="subtitle">
            {% if book.series is not empty %}
                {{ book.series.title }} # {{ book.number_in_series }}
            {% endif %}
        </div>
    </div>
{% endput %}

{% put sidebar_top %}
    <div class="person__photo">
        <img src="{{ book.book_edition[0].cover.path }}" />
    </div>
{% endput %}

{% put content %}
    <div class="person__info">
        <div class="person-info">
            {% if book.author is not empty %}
                <div class="infostring infostring-light">Автор:
                    {% for person in book.author %}
                        {{ person.title }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if book.genres is not empty %}
                <div class="infostring infostring-light">Жанр:
                    {% for genres in book.genres %}
                        {{ genres.title }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="person__description">
        <h2> Аннотация </h2>
        <p>{{ book.description|raw }}</p>
    </div>

    {% if book.book_edition is not empty %}
        <section id="editions">
            <h2>Издания</h2>
            <div id="grid" data-columns="6" class="card_list">
                {% for editions in book.book_edition %}
                <div class="card-item card">
                    <div class="">
                        <a href="{{ record.permalink }}{{ editions.content.permalink }}">
                            <div class="card__image">
                                <img src="{{ editions.cover.path|resize(530) }}" alt="{{ editions.title }}" />
                            </div>
                            <div class="card__content">
                                <h4>{{ editions.publish_date }}</h4>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endput %}

{% put sidebar_bottom %}
    {% partial 'widgets/social-share-button' %}
    {% partial 'widgets/advertisment' %}
{% endput %}

{% put aside_content %}
    {% partial 'widgets/disqus' %}
{% endput %}

