;;

title = "book"
url = "/:universe/book/:slug"
layout = "default"
is_hidden = 0

==

use \fw\Backend\Models\Content as Content;

function onStart()
{
    // Template
    $this['template'] = "right-sidebar";

    $this['record'] = Content::where('permalink', $_SERVER['REQUEST_URI'])->first();

    $this['universe'] = $this->param('universe');

    $this['page_title'] = "Книги | ".$this['record']->contentable->universe->title;

    $this['book'] = $this['record']->contentable;
}

==
{##}

{% partial 'layout/page-title' %}

{% put header_content %}
    <div class="person__title">
        <h1> {{ record.title }} </h1>
        <div class="subtitle">
            {% if book.series is not empty %}
                {{ book.series.title }} # {{ book.number_in_series }}
            {% endif %}
        </div>
    </div>
{% endput %}

{% put sidebar_top %}
    <div class="person__photo">
        <img src="{{ book.book_edition[0].cover.path }}" />
    </div>
{% endput %}

{% put content %}
    <div class="person__info">
        <div class="person-info">
            {% if book.author is not empty %}
                <div class="infostring infostring-light">Автор:
                    {% for person in book.author %}
                        {{ person.title }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if book.genres is not empty %}
                <div class="infostring infostring-light">Жанр:
                    {% for genres in book.genres %}
                        {{ genres.title }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="person__description">
        <h2> Аннотация </h2>
        {{ book.description|raw }}
    </div>
    <div class="person__description">
        <h2> Издания </h2>
        {% if book.book_edition is not empty %}
            <div class="infostring infostring-light">
                {% for editions in book.book_edition %}
                    <img src="{{ editions.cover.path }}" />
                    {{ editions.title }}
                    {{ editions.publish_date }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endput %}

{% put sidebar_bottom %}
    {% partial 'widgets/social-share-button' %}
    {% partial 'widgets/advertisment' %}
{% endput %}

{% put aside_content %}
    {% partial 'widgets/disqus' %}
{% endput %}

