title = "Новости"
url = "/news/:slug"
layout = "default"
is_hidden = 0

[session]
security = "all"

==
use fw\Backend\Models\Content as Content;
use \Fw\Backend\Classes\GoogleServices;

function onStart()
{
    // Template
    $this['content'] = "news";
    $this['template'] = "right-sidebar";

    // Get record
    $this['record'] = Content::where('permalink', '=', $_SERVER['REQUEST_URI'])->first();

    if ($this['record'] == null) {
        return \Redirect::to('404');
    };

    // SEO title
    $this['page_title'] = 'Новости';
    $this['page_description'] = $this['record']->contentable->description;

    // Shema.org properties
    // $this['shema_type'] = "shema/person";

    // og_meta properties
    $this['og_meta'] = [
        "title" => $this['record']->title,
        "description" => $this['page_description'],
        "image" => Url::to($this['record']->contentable->cover->path),
        "type" => '',
        "url" => Request::url(),
    ];

    $this['visitors'] = GoogleServices::getVisitors('/'.Request::path());


    if ($this['visitors'] > $this['record']->contentable->visitors) {
        $news = \Fw\Backend\Models\News::find($this['record']->contentable->id);
        $news->visitors = $this['visitors'];
        $news->save();
    }

    $this['news_menu'] = "active";
}

==
{##}

{% partial 'layout/page-title' %}

{% put header_content %}
    <h1 class="news__title">{{ record.title }}</h1>
{% endput %}

{% put content %}
    {% if record.contentable.news_type == "news" %}
        <div class="news__cover">
            <img src="{{ record.contentable.cover.path }}" alt="{{ record.title }}"/>
        </div>
    {% endif %}
    {% if record.contentable.news_type == "trailer" %}
    <div class="videoWrapper">
        <iframe src="{{ record.contentable.link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    {% endif %}
    <div class="news__description">
        {{ record.contentable.description|raw }}
    </div>
{% endput %}

{% put sidebar_top %}
    
{% endput %}

{% put sidebar_bottom %}
    {% partial 'widgets/social-share-button' %}
    {% partial 'widgets/advertisment' %}
{% endput %}

{% put aside_content %}
    {% partial 'widgets/disqus' %}
{% endput %}