title = "Новости"
url = ":universe/news/:slug"
layout = "default"
is_hidden = 0

[session]
security = "all"

[views]
==
<?php
use fw\Wiki\Models\Article as Article;

function onStart()
{
    // Template
    $this['content'] = "news";
    $this['template'] = "right-sidebar";

    // Get record
    $this['record'] = Article::where('permalink', '=', $_SERVER['REQUEST_URI'])->first();

    if ($this['record'] == null) {
        return \Redirect::to('404');
    };

    // SEO title
    $this['page_title'] = 'Новости';
    $this['page_description'] = $this['record']->content->description;

    // Shema.org properties
    // $this['shema_type'] = "shema/person";

    // og_meta properties
    $this['og_meta'] = [
        "title" => $this['record']->title,
        "description" => $this['page_description'],
        "image" => Url::to($this['record']->content->cover->path),
        "type" => '',
        "url" => Request::url(),
    ];

    // $this['visitors'] = GoogleServices::getVisitors('/'.Request::path());


    // if ($this['visitors'] > $this['record']->contentable->visitors) {
    //     $news = \Fw\Backend\Models\News::find($this['record']->contentable->id);
    //     $news->visitors = $this['visitors'];
    //     $news->save();
    // }

    $this['news_menu'] = "active";

    $this['keywords'] = 'энциклопедия фантастических вселенных, новости, вселенные';
}
?>
==
{##}

{% partial 'layout/page-title' %}

{% put header_content %}
    <h1 class="news__title">{{ record.title }}</h1>
{% endput %}

{% put content %}
    {% if record.content.news_type == "news" %}
        <div class="news__cover">
            <img src="{{ record.content.image.path }}" alt="{{ record.title }}"/>
        </div>
    {% endif %}
    {% if record.content.news_type == "trailer" %}
    <div class="videoWrapper">
        <iframe src="{{ record.content.video_embed }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    {% endif %}
    <div class="news__description">
        {{ record.content.description|raw }}
    </div>
{% endput %}

{% put sidebar_top %}
    
{% endput %}

{% put sidebar_bottom %}
    {% partial 'widgets/social-share-button' %}
    {% partial 'widgets/advertisment' %}
{% endput %}

{% put aside_content %}
    {% partial 'widgets/disqus' %}
{% endput %}