title = "Организация"
url = "/company/:slug"
layout = "default"
is_hidden = 0
==
<?php
use fw\Backend\Models\Content;

function onStart()
{
    // Template
    $this['content'] = "person";
    $this['template'] = "left-sidebar";

    // Get record
    // $this['record'] = Organisation::where('slug', '=', $this->param('slug'))->first();
    $this['record'] = Content::where('permalink', '=', $_SERVER['REQUEST_URI'])->first();
    $this['company'] = $this['record']->contentable;

    if ($this['record'] == null) {
        return \Redirect::to('404');
    };

    // SEO title
    $this['page_title'] = $this['record']->title;
    $this['page_description'] = $this['company']->description;

    // Shema.org properties
    // $this['shema_type'] = "person/shema";

    // og_meta properties
    $this['og_meta'] = [
        "title" => $this['record']->title,
        "description" => $this['page_description'] ,
        "image" => Url::to('storage/app/media',$this['company']->logo),
        "type" => '',
        "url" => Request::url(),
    ];

}
?>
==
{##}

{% partial 'layout/page-title' %}

{% put header_content %}
    <div class="person__title">
        <h1> {{ record.title }} </h1>
        <div class="subtitle">
            {% if company.name_ru is not empty %}
                {{ company.name_ru }}
            {% endif %}
        </div>
    </div>
{% endput %}

{% put sidebar_top %}
    <div class="person__photo">
        <img src="{{ company.logo|media }}" />
    </div>
{% endput %}

{% put content %}
    <div class="person__info">
        <div class="infostring">Дата основания:
            <b>{{ company.open_date|ru_date }}</b>
        </div>
        {% if company.closed_date %}
            <div class="infostring">Дата закрытия:
                <b>{{ company.closed_date|ru_date }}</b>
            </div>
        {% endif %}
    </div>

    <h2>Информация об организации</h2>
    {{ company.description|raw }}
{% endput %}

{% put sidebar_bottom %}
    {% partial 'widgets/social-share-button' %}
    {% partial 'widgets/advertisment' %}
{% endput %}

{% put aside_content %}
    {% partial 'widgets/disqus' %}
{% endput %}