;;

title = "author"
url = "/persons/:slug"
layout = "default"
is_hidden = 0

==
use fw\Backend\Models\Person as Person;
use fw\Backend\Models\Content;

function onStart()
{
    // Template
    $this['content'] = "person";
    $this['template'] = "left-sidebar";

    // Get record
    // $this['record'] = Person::where('slug', '=', $this->param('slug'))->first();
    $this['record'] = Content::where('permalink', '=', $_SERVER['REQUEST_URI'])->first();
    $this['person'] = $this['record']->contentable;

    // dd($this['record']);

    if ($this['record'] == null) {
        return \Redirect::to('404');
    };

    if ($this['person']->is_pseudo) {
        return Redirect::to($this['person']->pseudos[0]->content->permalink);
    }

    // SEO title
    $this['page_title'] = $this['record']->title.' | Люди ';

    // Shema.org properties
    $this['shema_type'] = "shema/person";

    // og_meta properties
    $this['og_meta'] = [
        "title" => $this['person']->title,
        "description" => $this['person']->bio,
        "image" => Url::to('storage/app/media',$this['person']->photo),
        "type" => '',
        "url" => Request::url(),
    ];

}

==
{##}

{% partial 'layout/page-title' %}

{% put header_content %}
    <div class="person__title">
        <h1> {{ record.title|person }} </h1>
        <div class="subtitle">
            {% if person.name_translate is not empty %}
                {{ person.name_translate }}
            {% else %}
                {{ person.name }}
            {% endif %}
        </div>
    </div>
{% endput %}

{% put sidebar_top %}
    <div class="person__photo">
        <img src="{{ person.photo|media }}" />
    </div>
{% endput %}

{% put content %}
    <div class="person__info">
        <div class="person-info">
            {% if person.personroles is not empty %}
                <div class="infostring infostring-light">
                    {% for personrole in person.personroles %}
                        {{ personrole.title }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if person.persons is not empty %}
                <div class="infostring"><b>Псевдонимы:</b>
                    {% for person in person.persons %}
                        {{ person.title|person }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="infostring"><b>Дата рождения:</b>
                {{ person.birthdate|ru_date }}
            </div>
            {% if person.deathdata %}
                <div class="infostring"><b>Дата смерти:</b>
                    {{ person.deathdata|ru_date }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="person__description">
        <h2> Биография </h2>
            {{ person.bio|raw }}
    </div>

    {% if person.universes is not empty %}
        <section id="universe">
            <h2>Вселенные</h2>
            <div class="card_list">
                {% for universe in person.universes %}
                <div class="card-item card">
                    <div class="">
                        <a href="{{ universe.content.permalink }}">
                            <div class="card__image">
                                <img src="{{ universe.cover|media|resize(530) }}" alt="{{ universe.content.title }}" />
                            </div>
                            <div class="card__content">
                                <h4>{{ universe.content.title }}</h4>
                                <div class="h4-subtitle"> {{ universe.name_translate }} </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endput %}

{% put sidebar_bottom %}
    {% partial 'widgets/social-share-button' %}
    {% partial 'widgets/advertisment' %}
{% endput %}

{% put aside_content %}
    {% partial 'widgets/disqus' %}
{% endput %}