title = "Вселенная"
url = "/:slug"
layout = "default"
is_hidden = 0
==
<?php
use Fw\Backend\Models\Universe as Universe;
use Fw\Backend\Models\Videogame as Videogame;
use Fw\Backend\Models\Work as Work;
use Fw\Backend\Models\Content;

function onStart()
{
// Template
$this['template'] = "right-sidebar";

// Get record


$this['record'] = Content::where('permalink', '=', $_SERVER['REQUEST_URI'])->first();

if ($this['record'] == null) {
return \Redirect::to('404');
};

$this['universe'] = $this['record']->contentable;
$this['permalink'] = $this['record']->permalink;

$this['books'] = $this['universe']->book;
$this['games'] = $this['universe']->videogame;

$this['universe_menu'] = 'active';

// SEO title
$this['page_title'] = $this['record']->title;
$this['page_description'] = $this['universe']->description;
// Shema.org properties
//$this['shema_type'] = "person/shema";

// og_meta properties
$this['og_meta'] = [
"title" => $this['record']->title,
"description" => $this['page_description'],
"image" => Url::to('storage/app/media',$this['universe']->cover),
"type" => '',
"url" => Request::url(),
];

// Sidebar
$this['sidebar'] = "person/author/sidebar";

}
?>
==
{##}

{% partial 'layout/universe-menu' %}

<div class="universe-cover">
    <div class="universe-cover__image">
        <img src="{{ universe.cover|media }}" alt="{{ record.title }} cover">
    </div>
    <div class="universe-cover__logo">
        <img src="{{ universe.logo|media }}" alt="{{ record.title }} logo">
    </div>
</div>

{% put header_content %}
    <h1 class="universe__title">{{ record.title }}</h1>
    <div class="universe__subtitle">{{ universe.title_ru }}</div>
{% endput %}

{% put content %}
    <div class="universe__description">
        {{ universe.description|raw }}
    </div>
{% endput %}

{% put sidebar_top %}
<div id="universe-info" class="sidebar-block">
    <div class="infostring">
        <b>Год создания:</b> {{ universe.created_at_date }}
    </div>

    <div class="infostring">
        <b>Создатели:</b>
        {% for persons in universe.persons %}
        {% set person = persons.content %}
        <a href="{{ person.permalink }}">
            {{ person.title }}{% if not loop.last %}, {% endif %}
        </a>
        {% endfor %}
        {% if (universe.persons is not empty) and (universe.company is not empty) %}, {% endif %}
        {% for companys in universe.company %}
        {% set company = companys.content %}
        <a href="{{ company.permalink }}">
            {{ company.title }}{% if not loop.last %}, {% endif %}
        </a>
        {% endfor %}
    </div>

    <div class="infostring">
        <b>Жанр:</b>
        {% for genre in universe.genres %}
        {{ genre.title }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>

    <div class="infostring">
        <b>Видеоигры:</b>
        {{ games }}
    </div>

</div>
{% endput %}

{% put sidebar_bottom %}
    {% partial 'widgets/social-share-button' %}
    {% partial 'widgets/advertisment' %}
{% endput %}

{% put aside_content %}
    {% partial 'widgets/disqus' %}
{% endput %}