title = "Вселенные"
url = "/universes"
layout = "default"
is_hidden = 0
==
<?php
use fw\Backend\Models\Universe as Universe;
use fw\Backend\Models\Content;

function onStart()
{
    // Template
    $this['template'] = "right-sidebar";

    // DB Query
    $this['records'] = Content::where(['contentable_type' => 'universe', 'status' => 'published'])
        ->orderBy('title', 'asc')
        ->get();

    // SEO title
    $this['page_title'] = "Вселенные";
    $this['page_description'] = "Список фантастических вселенных" ;

    // Main menu marker
    $this['universes_menu'] = "active";

    // og_meta properties
    $this['og_meta'] = [
        "title" => $this['page_title'],
        "description" => $this['page_description'],
        "image" => Url::to('themes/fun-wiki/assets/images/alpha.jpg'),
        "url" => Request::url(),
    ];

    $this['keywords'] = 'энциклопедия фантастических вселенных, вселенные, список вселенных';
}
?>
==
{##}

{% partial 'layout/page-title' %}

{% put content %}
{% set last_char = '' %}
{% for record in records %}
{% set this_char = record.title|first|upper %}
{% if this_char != last_char %}
{% if last_char != '' %}
</div>
{% endif %}
{% set last_char = this_char%}
<h2> {{ this_char }} </h2>
<div class="card_list">
    {% endif %}
    <div class="card-item">
        <div class="card">
            <a href="{{ record.permalink }}">
                <div class="card__image">
                    <img src="{{ record.contentable.cover|media|resize(530) }}" alt="{{ record.title }}" />
                </div>
                <div class="card__content">
                    <h4>{{ record.title }}</h4>
                    <div class="h4-subtitle"> {{ record.contentable.title_ru }} </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endput %}

{% put sidebar_top %}
{% endput %}


{% put sidebar_bottom %}
    {% partial 'widgets/advertisment' %}
{% endput %}