title = "Видеоигра"
url = "/:universe/videogames/:slug"
layout = "default"
is_hidden = 0
==
<?php
use Fw\Backend\Models\Content;

function onStart()
{
    // Template
    $this['template'] = "left-sidebar";

    // DB Query
    $this['universe'] = \Fw\Backend\Models\Content::where('permalink', '/' . $this->param('universe'))
        ->first()
        ->contentable;
        
    $this['books'] = $this['universe']->book;
    $this['games'] = $this['universe']->videogame;

    $this['record'] = Content::where('permalink', $_SERVER['REQUEST_URI'])->first();

    // SEO title
    $this['page_title'] = $this['record']->title." | Видеоигры | ".$this['universe']->title;
    $this['page_description'] = $this['record']->description; // Add description

    // Universe menu marker
    $this['games_menu'] = "active";
    $this['permalink'] = '/'.$this->param('universe');

    // og_meta properties
    $this['og_meta'] = [
        "title" => $this['page_title'],
        "description" => $this['page_description'],
        "image" => $this['record']->contentable->cover->path,
        "url" => Request::url()
    ];

    $this['keywords'] = $this['record']->title.', '.$this['universe']->title.', игра, видеогра';
}
?>
==
{##}
{% partial 'layout/universe-menu' %}
{% partial 'layout/page-title' %}

{% put header_content %}
    <div class="person__title">
        <h1> {{ record.title }} </h1>
        <div class="subtitle">
            {% if record.contentable.title_ru is not empty %}
                {{ record.contentable.title_ru }}
            {% endif %}
        </div>
    </div>
{% endput %}

{% put sidebar_top %}
    <div class="person__photo">
        <img src="{{ record.contentable.cover.path }}" />
    </div>
{% endput %}

{% put content %}
    <div class="person__info">
        <div class="person-info">
            {% if record.category is not empty %}
                <div class="infostring infostring-light">Серия:
                    {{ record.category.title }} Номер в серии: {{ record.contentable.number_in_series }}
                </div>
            {% endif %}
            {% if record.contentable.created_data is not empty %}
                <div class="infostring infostring-light">Дата выхода:
                    {{record.contentable.created_data|ru_date }}
                </div>
            {% endif %}
            {% if record.contentable.platform is not empty %}
                <div class="infostring infostring-light">Платформы:
                    {% for platform in record.contentable.platform %}
                        {{ platform.title }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if record.contentable.developer is not empty %}
                <div class="infostring infostring-light">Разработчик:
                    {% for personrole in record.contentable.developer %}
                        <a href="{{ personrole.content.permalink }}">
                            {{ personrole.title }}{% if not loop.last %}, {% endif %}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if record.contentable.publisher is not empty %}
                <div class="infostring infostring-light">Издатель:
                    {% for personrole in record.contentable.publisher %}
                        <a href="{{ personrole.content.permalink }}">
                            {{ personrole.title }}{% if not loop.last %}, {% endif %}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if record.contentable.genres is not empty %}
                <div class="infostring infostring-light">Жанр:
                    {% for genres in record.contentable.genres %}
                        {{ genres.title }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="person__description">
        <h2> Аннотация </h2>
        {{ record.contentable.description|raw }}
    </div>
{% endput %}

{% put sidebar_bottom %}
    {% partial 'widgets/social-share-button' %}
    {% partial 'widgets/advertisment-videogames' %}
{% endput %}

{% put aside_content %}
    {% partial 'widgets/disqus' %}
{% endput %}