title = "Видеоигры"
url = "/:universe/videogames"
layout = "default"
is_hidden = 0
==
<?php
use Fw\Backend\Models\Content as Content;
use Fw\Backend\Models\Category as Category;

function onStart()
{
    // Template
    $this['template'] = "right-sidebar";

    // DB Query
    $this['universe'] = \Fw\Backend\Models\Content::where('permalink', '/' . $this->param('universe'))
        ->first()
        ->contentable;

    $this['books'] = $this['universe']->book;
    $this['games'] = $this['universe']->videogame;

    $this['records']  = \Fw\Backend\Models\Content::where('permalink', 'LIKE', '%' . $_SERVER['REQUEST_URI'] . '%')
        ->join('fw_backend_category as category', 'category_id', 'category.id')
        ->join('fw_backend_videogames as videogames', 'contentable_id', 'videogames.id')
        ->select('*', 'category.title as cat_title', 'videogames.number_in_series as nis')
        ->with('contentable')
        ->orderByRaw("if(cat_title = 'videogames', 1,0), `cat_title`,`nis` ASC")
        ->get();

    if ($this['records'] == null) {
        return \Redirect::to('404');
    };

    // SEO title
    $this['page_title'] = "Видеоигры | ".$this['universe']->title;
    $this['page_description'] = "Видеоигры по вселенной ".$this['universe']->title;
    
    // Universe menu marker
    $this['games_menu'] = "active";
    $this['permalink'] = '/'.$this->param('universe');

    // og_meta properties
    $this['og_meta'] = [
        "title" => $this['page_title'],
        "description" => $this['page_description'],
        "image" => Url::to('themes/fun-wiki/assets/images/alpha.jpg'),
        "url" => Request::url(),
    ];

    $this['keywords'] = $this['universe']->title.', игры, видеоигры, список игр, список видеоигр';
}
?>
==
{##}
{% partial 'layout/universe-menu' %}
{% partial 'layout/page-title' %}

{% put content %}

{% set last_char = '' %}
{% for record in records %}

{% if record.category.title == '' %}
    {% set series = 'Вне серии' %}
{% else %}
    {% set series = record.category.title %}
{% endif %}

{% set this_char = series %}
{% if this_char != last_char %}
{% if last_char != '' %}
</div>
{% endif %}
{% set last_char = this_char%}
<h2> {{ this_char }} </h2>
<div class="card_list" id="grid" data-columns="5">
    {% endif %}
    <div class="card-item">
        <div class="card">
            <a href="{{record.permalink }}">
                <div class="card__image">
                    <img src="{{ record.contentable.cover.path }}" alt="{{ record.title }}" />
                </div>
                <div class="card__content">
                
                    
                    <h4>{{ record.title }}</h4>
                    <div class="h4-subtitle"> {{ record.title_ru }} </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endput %}

{% put sidebar_top %}
{% endput %}


{% put sidebar_bottom %}
    {% partial 'widgets/advertisment' %}
{% endput %}