{##}

<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#fff">
<meta name="application-name" content="fun-wiki">
<link rel="manifest" href="{{ 'assets/site.webmanifest'|theme }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/icons/apple-touch-icon.png"'|theme }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="fun-wiki">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/icons/favicon-32x32.png'|theme }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/icons/favicon-16x16.png'|theme }}">
<link rel="shortcut icon" href="{{ 'assets/images/icons/favicon.ico'|theme }}">
<link rel="mask-icon" href="{{ 'assets/images/icons/safari-pinned-tab.svg'|theme }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
